3342-Term-Project/Web References/GetShowService/GetShow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRandomShow">
        <s:complexType />
      </s:element>
      <s:element name="GetRandomShowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomShowResult" type="tns:ArrayOfTVShows" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTVShows">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TVShows" nillable="true" type="tns:TVShows" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TVShows">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ShowName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowYears" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowAgeRating" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowRuntime" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowGenre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowID" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRandomShowSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomShow" />
  </wsdl:message>
  <wsdl:message name="GetRandomShowSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomShowResponse" />
  </wsdl:message>
  <wsdl:portType name="GetShowSoap">
    <wsdl:operation name="GetRandomShow">
      <wsdl:input message="tns:GetRandomShowSoapIn" />
      <wsdl:output message="tns:GetRandomShowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetShowSoap" type="tns:GetShowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomShow">
      <soap:operation soapAction="http://tempuri.org/GetRandomShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetShowSoap12" type="tns:GetShowSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomShow">
      <soap12:operation soapAction="http://tempuri.org/GetRandomShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetShow">
    <wsdl:port name="GetShowSoap" binding="tns:GetShowSoap">
      <soap:address location="http://localhost:64859/GetShow.asmx" />
    </wsdl:port>
    <wsdl:port name="GetShowSoap12" binding="tns:GetShowSoap12">
      <soap12:address location="http://localhost:64859/GetShow.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>