3342-Term-Project/Web References/GetGameService/GetGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRandomGame">
        <s:complexType />
      </s:element>
      <s:element name="GetRandomGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomGameResult" type="tns:ArrayOfVideoGames" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVideoGames">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VideoGames" nillable="true" type="tns:VideoGames" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VideoGames">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GameName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GameYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GameGenre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameCreator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameAgeRating" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GameImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GameID" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRandomGameSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomGame" />
  </wsdl:message>
  <wsdl:message name="GetRandomGameSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomGameResponse" />
  </wsdl:message>
  <wsdl:portType name="GetGameSoap">
    <wsdl:operation name="GetRandomGame">
      <wsdl:input message="tns:GetRandomGameSoapIn" />
      <wsdl:output message="tns:GetRandomGameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetGameSoap" type="tns:GetGameSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomGame">
      <soap:operation soapAction="http://tempuri.org/GetRandomGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetGameSoap12" type="tns:GetGameSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomGame">
      <soap12:operation soapAction="http://tempuri.org/GetRandomGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetGame">
    <wsdl:port name="GetGameSoap" binding="tns:GetGameSoap">
      <soap:address location="http://localhost:64859/GetGame.asmx" />
    </wsdl:port>
    <wsdl:port name="GetGameSoap12" binding="tns:GetGameSoap12">
      <soap12:address location="http://localhost:64859/GetGame.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>